name: Build

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        directory: [
          basket-cover, basket-cover-2, box-lid, cabinet-light, computer-foot, excel-box,
          fiber-light, gillette, pidp11, tray-holder, wallet, watch-band, wc-frame
        ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install OpenSCAD
        run: sudo apt install openscad

      - name: Install BOSL
        run: |
          wget --output-document /tmp/bosl.tar.gz https://github.com/revarbat/BOSL/archive/refs/tags/v1.0.3.tar.gz
          mkdir -p $HOME/.local/share/OpenSCAD/libraries/BOSL
          tar -xzf /tmp/bosl.tar.gz --directory=$HOME/.local/share/OpenSCAD/libraries/BOSL --strip-components=1

      - name: Build sources
        run: |
          cd ${{ matrix.directory }}
          make
